*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.header__nav1{
    background-color: black;
    color: white;
    padding: 10px;
}

.header__nav1 .nav1__items a{
    color: white;
    display: block;
    padding: 5px;
}

.language a{
    display: inline-block;
}

.scale img{
    width: 200px;
    transition: all 1s ease-in-out;
}

.scale img:hover{
   transform: scale(1.3);
   transition:  all 1s ease-in-out;
}
button{
    width: 40%;
    padding: 15px 30px;
    background-color: transparent;
    color: black;
    font-weight: 400;
    font-size: 21px;
    text-transform: uppercase;
}

.parent{
    align-items: center;
    justify-content: center;
}